* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #222;
  color: #fff;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


